<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styles/global.css" type="text/css"/>
    <link rel="stylesheet" href="../static/styles/reports.css" type="text/css"/>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../static/content/favicon.ico">
    <title>Отчёты</title>
</head>
<body>
<div class="body">
    <h2 class="reports-header">Отчёты</h2>
    <div class="content">
        <div class="reports">
            {% for key, value in context.items() %}
                <div class="reports-card">
                    <div class="card-title">{{ key }}</div>
                    {% for mark_name, mark in value.items() %}
                        <div class="reports-card-content">
                            <span title="{{ mark['description'] }}">{{ mark_name }}</span>
                            <span>{{ "%.2f"|format(mark['mark']) }}</span>
                            <div>
                                <div class="grades-scale">
                                    {% if loop.index0 == 0 %}
                                        <div class="graph-values">
                                            {% for i in range(-1, 3) %}
                                                <span>{{ i }}</span>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    {% if mark['mark'] < 0 %}
                                        <div style="
                                                width: calc(50% * {{ mark['mark']|abs if mark['mark'] < 0 else 0 }});
                                                height: 15px;
                                                background-color: var(--main-orange-color);
                                                margin: auto 0 auto auto;
                                                grid-column: 1"></div>
                                    {% endif %}
                                    <div class="splitter"></div>
                                    {% if mark['mark'] > 0 %}
                                        <div style="
                                                width: calc(50% * {{ mark['mark']|abs if mark['mark'] > 0 else 0 }});
                                                height: 15px;
                                                background-color: var(--main-orange-color);
                                                margin: auto auto auto 0;
                                                grid-column: 3"></div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>