.reports-header {
    text-align: center;
    grid-column: span 2;
    grid-row: 1;
    margin-top: 20px;
}

.reports {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

.reports-card {
    width: 500px;
    height: auto;
    margin: 10px auto;
    padding: 20px;
}

.reports-card .card-title {
    color: var(--main-orange-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.reports-card-content {
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: 1fr 10% 1fr;
    font-size: 20px;
}

.grades-scale {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.splitter {
    width: 1px;
    height: 60px;
    grid-column: 2;
    color: var(--main-yellow-color);
    background-color: var(--main-yellow-color);
}

.graph-values {
    position: relative;
    width: auto;
    grid-column: span 3;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin-left: 23%;
}

.graph-values span {
    font-size: 12px;
    color: gray;
}